#nothide_banner {
  width: 100%; height: 300px;
  position: relative;
  overflow: hidden;
  background: #000;
}
#nothide_banner > div{
  position: absolute;
  width:100%; height:100%;
}
#nothide_banner > div:nth-child(1){
  background: url(/img/banner/bg.png);
}
#nothide_banner > div:nth-child(2){
  background: url(/img/banner/city_back.png);
}
#nothide_banner > div:nth-child(3){
  background: url(/img/banner/city_front.png);
}
#nothide_banner > div:nth-child(4){}
#nothide_banner > div:nth-child(4) > div:nth-child(1){
  background: url(/img/banner/cam.png);
  width:960px; height:300px;
  margin: 0 auto;
}
#nothide_banner > div:nth-child(4) > div:nth-child(2){
  position: absolute;
  background: #cccccc;
  width:50%; height:300px;
  right:-450px; top:0;
}

#nothide_banner > div:nth-child(5){
  background: rgba(0,0,0,0.3);
  opacity: 0;
  -webkit-transition : opacity 0.1s linear;
     -moz-transition : opacity 0.1s linear;
      -ms-transition : opacity 0.1s linear;
       -o-transition : opacity 0.1s linear;
          transition : opacity 0.1s linear;
}
#nothide_banner > div:nth-child(5):hover{
  opacity: 1;
}