div#newsletter.
	<div style="background:#000; overflow:hidden; color:#fff;">
		<div style="width:800px; margin:50px auto;">
			<div style="font-size:90px; font-family:League; line-height:1.2em">
				Join the Nothing Newsletter
			</div>
			<div style="margin-bottom:30px; position:relative;">
				<form style="margin:0" action="https://tinyletter.com/nothingtohide" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nothingtohide', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
					<input id="newsletter_email" type="email" placeholder="your@email.com" name="email" required="">
					<input type="hidden" value="1" name="embed">
					<button id="submit_button" name="submit">Subscribe</button>
				</form>
				<div style="font-size:18px; color:#777; margin-top:5px">
					Every week, I'll give you the latest updates on <i>Nothing To Hide</i>'s open-source development. 
					<br>
					I need your honest feedback!
				</div>
			</div>
		</div>
	</div>

div#site_info
	span(style="color:#000") Nothing to Hide was created by yours truly, 
		a(href="http://ncase.me") NCASE
	br
	br
	| <a href="https://github.com/nutcasenightmare/nothide-blog">fork this site on github</a>
	br
	| <a href="http://creativecommons.org/publicdomain/zero/1.0/">zero rights reserved</a>
	br
	| <a href="/feed.xml">rss feed</a>

